n8n/workflow_gas_sensing.json
{
  "name": "Autonomous Gas Sensing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-gas-data",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "New Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "gas-data-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gas-agent:5000/api/v1/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.GAS_AGENT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"gas\": \"{{ $json.gas }}\",\n  \"data_root\": \"{{ $json.data_root }}\",\n  \"ref_path\": \"{{ $json.ref_path }}\",\n  \"output_root\": \"{{ $json.output_root }}\",\n  \"callback_url\": \"{{ $env.N8N_WEBHOOK_URL }}/webhook/job-complete\"\n}",
        "options": {}
      },
      "id": "submit-analysis",
      "name": "Submit Analysis Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Store job ID for later use\nconst jobId = $input.first().json.job_id;\n\nreturn {\n  job_id: jobId,\n  status: 'submitted',\n  submitted_at: new Date().toISOString()\n};"
      },
      "id": "store-job-id",
      "name": "Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "job-complete-webhook",
      "name": "Job Complete Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 520],
      "webhookId": "job-complete-callback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.job.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gas-agent:5000/api/v1/jobs/{{ $json.job.job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.GAS_AGENT_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-full-results",
      "name": "Get Full Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 420]
    },
    {
      "parameters": {
        "channel": "#gas-sensing-lab",
        "text": "=✅ *Gas Analysis Complete*\n\n*Gas:* {{ $json.gas }}\n*Job ID:* {{ $json.job_id }}\n*Status:* {{ $json.status }}\n*Quality Score:* {{ $json.result.final_score }}\n\n*Metrics:*\n• R²: {{ $json.result.runs[-1].metrics.r2 }}\n• LOD: {{ $json.result.runs[-1].metrics.lod }} ppm\n• Slope: {{ $json.result.runs[-1].metrics.slope }} nm/ppm\n\n*Output:* {{ $json.result.reports.summary }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "notify-slack-success",
      "name": "Notify Slack (Success)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [920, 420]
    },
    {
      "parameters": {
        "channel": "#gas-sensing-lab",
        "text": "=❌ *Gas Analysis Failed*\n\n*Gas:* {{ $json.job.gas }}\n*Job ID:* {{ $json.job.job_id }}\n*Error:* {{ $json.job.error }}\n\n*Attempts:* {{ $json.job.result.total_attempts }}\n*Last Profile:* {{ $json.job.result.final_profile }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "notify-slack-failure",
      "name": "Notify Slack (Failure)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [920, 620]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-health",
              "leftValue": "={{ $json.result.final_score }}",
              "rightValue": "0.8",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sensor-health",
      "name": "Check Sensor Health",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gas-agent:5000/api/v1/health-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.GAS_AGENT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sensor_id\": \"{{ $json.gas }}-sensor\",\n  \"metrics\": {{ JSON.stringify($json.result.runs[-1].metrics) }}\n}",
        "options": {}
      },
      "id": "run-health-check",
      "name": "Run Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "channel": "#gas-sensing-alerts",
        "text": "=⚠️ *Sensor Health Warning*\n\n*Sensor:* {{ $json.sensor_id }}\n*Health Score:* {{ $json.health_score }}\n*Status:* {{ $json.overall_status }}\n\n*Anomalies:*\n{{ $json.anomalies.map(a => '• ' + a.description).join('\\n') }}\n\n*Recommendations:*\n{{ $json.recommendations.map(r => '• ' + r).join('\\n') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "alert-health-issue",
      "name": "Alert Health Issue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1580, 320]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Scheduled Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 740]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gas-agent:5000/api/v1/optimize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.GAS_AGENT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"observations\": [\n    {\"concentration\": 10, \"response\": 0.5},\n    {\"concentration\": 50, \"response\": 1.2},\n    {\"concentration\": 100, \"response\": 2.1}\n  ],\n  \"bounds\": [1, 200]\n}",
        "options": {}
      },
      "id": "get-next-experiment",
      "name": "Get Next Experiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 740]
    },
    {
      "parameters": {
        "channel": "#gas-sensing-lab",
        "text": "=🔬 *Next Experiment Suggestion*\n\n*Recommended Concentration:* {{ $json.next_concentration }} ppm\n*Expected Improvement:* {{ $json.expected_improvement }}\n*Uncertainty:* ± {{ $json.uncertainty }}\n\n*Rationale:* {{ $json.rationale }}\n\n*Alternatives:* {{ $json.alternatives.join(', ') }} ppm",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "notify-next-experiment",
      "name": "Notify Next Experiment",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [700, 740]
    }
  ],
  "connections": {
    "New Data Webhook": {
      "main": [
        [
          {
            "node": "Submit Analysis Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Analysis Job": {
      "main": [
        [
          {
            "node": "Store Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Complete Callback": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Get Full Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Results": {
      "main": [
        [
          {
            "node": "Notify Slack (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Success)": {
      "main": [
        [
          {
            "node": "Check Sensor Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sensor Health": {
      "main": [
        [
          {
            "node": "Run Health Check",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Health Check": {
      "main": [
        [
          {
            "node": "Alert Health Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Check": {
      "main": [
        [
          {
            "node": "Get Next Experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Experiment": {
      "main": [
        [
          {
            "node": "Notify Next Experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "gas-sensing",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "autonomous-agent",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
